.row h3 {
    text-shadow: 3px 5px 5px;
    font-weight: 700;
    color: #394189;
}
section p{
    text-justify: center;
}
section td {
    font-weight: 700;
}
.modal-header{
    font-size: 30px;
    font-weight: 700;
}